.chanName {
padding: 0.1em .5em
}

.indexSearch {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8em;
    font-style: italic;
    background-color: aliceblue;
}

#indexSearch {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8em;
    font-style: italic;
    background-color: aliceblue;
}

#circular--square { 
	border-radius: 50%; 
	width: 200px;
	height: 200px;
	position: relative;
	top: 3%;
}

#upperprofile {
	background-color: aliceblue;
	position: absolute;
	width: 400px;
	padding: 2px;
}

#lowerprofile {
	align-content: initial;
	background-color: #94c6f2;
	position: relative;
	width: 400px;
	bottom: 0px;
}

#lowertittleid {
	position: relative;
	font-size: 25px;
	font-family: Bookman, serif;
	margin-top: 5%;
	font-style: initial;
	text-align: center;
}
#fixbutton {
	padding: 30px;
	background-color: 'white';
	position: relative;
	bottom: 0px;
}

#victoryId {
	position: relative;
	width: 200px;
	left:0px;
	  display: inline-block;

}

#defeatId {
	position: relative;
	width: 200px;
	right:0px;
	display: inline-block;
}

#col {
	align-content: flex-start;
	align-content: normal;
	padding: 7px;
	width: 100%;
	font-style: normal;

}

#col th {
  width: calc(100% / 4);
  padding: 10px;
  font-style: normal;
}

#uppertittleid {
	padding: 4px;
	position: relative;
	margin-left: 180px;
	margin-right: 10px;
	font-size: 25px;
	font-family: Bookman, serif;
	position:relative;
	margin-top: 5%;
	font-style: initial;
}

#uppertextid {
	word-break: break-word;
	position: relative;
	margin-left: 210px;
	margin-right: 10px;
	padding: 6px;
	font-size: 17px;
	line-height : 22px;
}

.reduceButton {
    align-self: flex-start;
}